/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Roboto|Raleway');

:root {
	--main-color: mistyrose;
	--highlight-color: indianred;
}

body, html {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

#banner{
	position: relative;
	background: var(--main-color);
	padding: 0;
	margin: 0;
}

.logo_resizer {
	width: 60px;
	padding: 10px 15px 10px 15px;
}

#notice {
	margin: 0px;
}

#columns {
	display: flex;
	border: var(--highlight-color) solid;

	#main {
		flex: 1;
		padding: 10px;
	}

	#sidebar {
		background-color: var(--highlight-color);
		padding: 20px;

		ul {
			padding: 0;

			li {
				list-style: none;
				padding: 5px 0 5px 0;

				a {
					color: white;
					text-decoration: none;
				}
				a:hover {
					background-color: var(--main-color);
					color: var(--highlight-color) !important;
				}
			}
		}
	}
}

@media all and (max-width: 700px ) {
	#button_new_product {
		display: none;
	}

	#columns {
  	flex-direction: column;
  	border: none;

  	#main {
  		padding: 0px !important;
  	}
  }

  #banner, .logo_resizer {
    display: none;
  }

  .wrapper {
  	padding: 0 !important;
  }

  #sidebar {
  	height: 50px;
  	padding: 0 !important;
  }

  ul {
  	display: flex;
  	justify-content: space-around;
  	font-size: 0.9em;
  	padding: 2px;

  	li {
  		display: inline-block;
  		border: var(--main-color) solid 1px;
  		border-radius: 3px;
  		padding: 3px 10px 3px 10px !important;
  	}
  }

  #header_for_products_page {
  	display: none;
  }
}